.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
 
  height: 850px;
  padding: 20px;
  color: red;
  background-color: #202020;
}



.tamanho {
  margin: 40px;
  border: 5px dotted pink;
  height: 300px; 
  position: relative;
}

.aimagem {
   background-color: #222;
  
}
.titul{
  text-decoration: none;
  color: orange;
}

.navi:hover {
     /* Green */
    color: orange;
}

