
.avisoo {
 
   margin-top: 200px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;

font-family: georgia, Helvetica, sans-serif;
color: white;
font-size: 40px;

}
.testo {
 
   
  text-align: left;
  margin: 100px;

font-family: georgia, Helvetica, sans-serif;

font-size: 80px;

}
.res {
 
   
  text-align: right;
  
color:blue;
font-family: georgia, Helvetica, sans-serif;

font-size: 20px;

}
.button2 {
    background-color: transparent;
    color: orange;
    border: 2px solid orange; /* Green */
    width: 150px;
    height: 40px;
    font-size: 12px;
     

}
.button2:hover {
    background-color: orange; /* Green */
    color: white;
}